In [2]:
import pandas as pd

In [13]:
data = pd.read_csv('/Users/kuljeetsinghshekhawat/Downloads/lsd_math_score_data.csv')
data.head(8)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [15]:
onlyMathScore = data['Avg_Math_Test_Score']
print(onlyMathScore)

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

In [20]:
data['test'] = 'kuljeet','ram','rahul','priya','ritika','raju','krishna'
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score     test
0                      5     1.17                78.93  kuljeet
1                     15     2.97                58.20      ram
2                     30     3.26                67.47    rahul
3                     60     4.69                37.47    priya
4                    120     5.83                45.65   ritika
5                    240     6.00                32.92     raju
6                    480     6.41                29.97  krishna

In [22]:
data['high_score'] = 100
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score     test  high_score
0                      5     1.17                78.93  kuljeet         100
1                     15     2.97                58.20      ram         100
2                     30     3.26                67.47    rahul         100
3                     60     4.69                37.47    priya         100
4                    120     5.83                45.65   ritika         100
5                    240     6.00                32.92     raju         100
6                    480     6.41                29.97  krishna         100